{
  "printWidth": 60,
  "trailingComma": "none",
  "singleQuote": true,
  "semi": false,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": [
        "*.md",
        "README"
      ],
      "options": {
        "parser": "yaml"
      }
    }
  ]
}
